@page
@model RazorRizzeria.Pages.Checkout.ThankYouModel
@{
}
<div class="text-center mt-5">
	<h2>Thank you so much for ordering!</h2>
	<a class="btn alert-primary mt-2 mx-auto" asp-area="" asp-page="/Pizza">Order more</a>
</div>
